{% extends "defaults/list.html" %}
{% load humanize %}

{% block card_header %}
    <div class="row d-flex justify-content-end align-items-center">
        <div class="col d-flex justify-content-start align-items-center">
            <h4 class="card-title">Listado de {{ info.model.verbose_name_plural }}</h4> 
        </div>
        <div class="col-3 d-flex justify-content-end">
            <button type="button" class="btn btn-primary" onclick="return open_modal('{% url 'finance:transaction-create-modal' %}')">
                <i class="bi bi-plus"></i>Nueva {{ info.model.verbose_name }}
            </button>
        </div>
    </div>
{% endblock card_header %}

{% block table_header %}
    <th>Monto</th>
    <th>Cuenta</th>
    <th>Categoria</th>
    <th>Descripción</th>
    <th>Fecha</th>
    <th>Acciones</th>
{% endblock table_header %}

{% block table_body %}
    {% for object in object_list %}
        <tr>
            <td class="text-end">
                {% if object.amount >= 0 %}
                    <div class="btn btn-outline-success btn-sm">
                    {{ object.amount_formatted|intcomma }}
                {% else %}
                    <div class="btn btn-outline-danger btn-sm">
                    {{ object.amount_formatted|intcomma }}
                    </div>
                {% endif %}
            </td>
            <td> {{ object.account.name }} </td>
            <td> <i class="{{ object.category.category.icon }}"></i> {{ object.category }} </td>
            <td> {{ object.description }}</a>
                <td> {{ object.date }}</a>
            </td>
            <td>
                {% comment %} <a href="#!" class="btn btn-light btn-icon btn-sm rounded-circle me-1" title="Ver">
                    <i class="bi bi-eye" style="font-size: 1.25em;"></i>
                </a> {% endcomment %}
                <a class="btn btn-light btn-icon btn-sm rounded-circle me-1" title="Editar" onclick="return open_modal('{% url 'finance:transaction-update-modal' pk=object.pk %}')">
                    <i class="bi bi-pencil-square" style="font-size: 1.25em;"></i>
                </a>
                {% comment %} <a class="btn btn-light btn-icon btn-sm rounded-circle" title="Eliminar" onclick="return delete_alert('{% url 'finance:transaction-delete-modal' pk=object.pk %}')">
                    <i class="bi bi-trash" style="font-size: 1.25em;"></i> 
                </a> {% endcomment %}
            </td>
        </tr>
        
    {% endfor %}
{% endblock table_body %}
