{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        {% include "imports/head.html" %}
        <title>Faminance</title>
    </head>
    <body>
        <div id="db-wrapper">
            {% include "includes/sidebar.html" %}
            <div id="page-content">
                {% include "includes/navbar.html" %} 

                {% if style.header.dash %}
                    <div class="bg-primary pt-10 pb-21"></div>
                {% endif %}
                <!-- Container Fluid -->
                <div
                    class="container-fluid px-6 {% if style.header.dash %} mt-n22 {% else %} py-4 {% endif %}"
                >
                    {% block header %} 
                        {% include "includes/header.html" %} 
                    {% endblock header %} 

                    {% if breadcrumbs %} 
                        {% include "includes/breadcrumbs.html" %} 
                    {% endif %} 

                    {% block content%} {% endblock content %}
                </div>
            </div>
        </div>

        {% comment %} {% include "footer.html" %} {% endcomment %}
        {% include "imports/scripts.html" %}

        {% block scripts %} {% endblock scripts %}
    </body>
</html>
