<footer class="bg-dark text-white pt-4 pb-2 mt-4">
<div class="container">
    <div class="row">
    <div class="col-md-6 mb-3 mb-md-0">
        <p class="mb-4">© 2024 <a href="https://juanda.up.railway.app/" style="text-decoration: none;">juandaherrera</a></p>
    </div>
    <div class="col-md-6 text-md-end">
        <a href="https://www.linkedin.com/in/juan-david-herrera/" class="text-white me-4" style="text-decoration: none;">
            <i class="fab fa-linkedin fa-lg"></i>
        </a>
        <a href="https://github.com/juandaherrera" class="text-white me-4" style="text-decoration: none;">
            <i class="fab fa-github fa-lg"></i>
        </a>
    </div>
    </div>
</div>
</footer>