{% extends "defaults/list.html" %}
{% load humanize %}

{% block table_header %}
    <th>Nombre</th>
    <th>Tipo de Cuenta</th>
    <th>Saldo</th>
    <th>Usuario</th>
    <th>Acciones</th>
{% endblock table_header %}


{% block table_body %}
    {% for object in object_list %}
        <tr>
            <td> {{ object.name }} </td>
            <td><i class="{{ object.type.icon }}"></i> {{ object.type }}</td>
            <td>{{ object.balance_formatted|intcomma }}</td>
            <td>{{ object.user.first_name }}</td>
            <td>
                {% include "defaults/action_buttons.html" %}
            </td>
        </tr>
        
    {% endfor %}
{% endblock table_body %}

